:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hello-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
}

.hello-page .logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 2rem;
}

.hello-page .heading {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}



.hello-page .btn__hello {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: cornflowerblue;
  border: none;
  border-radius: 4px;
  color: #fff;
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}

